<title><%=pageTitle%></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="keywords" content="<%=pageKeywords%>" />
<meta name="description" content="<%=pageDesc%>" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days" />
<meta name="author" content="Ezbooking" />
<meta property="fb:app_id" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%=ogUrl%>" />
<meta property="og:title" content="<%=ogTitle%>" />
<meta property="og:description" content="<%=ogDesc%>" />
<meta property="og:image" content="<%=ogImg%>"/>
<script src="https://kit.fontawesome.com/564f7758c0.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" href="<%=faviconUrl%>" type="image/png">
<link href="<%=frontendUrl%>assets/css/style.css?v=<%=_versionCache%>" rel="stylesheet" type="text/css">
<link href="<%=frontendUrl%>assets/css/responsive.css?v=<%=_versionCache%>" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="<%=frontendUrl%>assets/js/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script type="text/javascript">
    var base_url = '<%=_baseUrl%>';
    var static_url = '<%=_staticUrl%>';
    var tok_value = '<%=csrftoken%>';
</script>

<header class="header header-pc" data-sticky="true" id="headerSticky">
    <div class="header_on_top">
      <div class="container">
        <div class="header_on_left">
          <p>Chào mừng bạn đến với EzBooking!</p>
        </div>
      </div>
    </div>
    <div class="header__top">
      <div class="container">
        <div class="header__left col-2">
          <a href="/ezbooking">
            <img src="<%=_staticUrl%>public\frontend\assets\img\logo.png" alt="EzBooking" />
          </a>
        </div>
        <div class="header__center col-6">
            <div class="wrapper">
              <div class="search-input">
                <input type="text" id="search" placeholder="Tìm kiếm" class="form-control" style="height: 40px;">
                <div id="autocom-box"></div>
                <div class="icon-search"><i class="fas fa-search"></i></div>
              </div>
            </div>
        </div>
        <div class="header__right col-4">
            <div class="header__actions">
                <!-- <div class="header__favorites">
                  <a class="header__extra" onclick="show_hide('favorite')">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </a>
                  <div class="header__menu" id="header_menu_favorite">
                    <div class="menu-arrow">
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                    <ul class="header__menu-dropdown">
                      <li>
                        <a href="<%=_baseUrl%>collections">
                          <p>Bộ sưu tập</p>
                        </a>
                      </li>
                      <li>
                        <a href="<%=_baseUrl%>branchs">
                          <p>Danh mục nhà hàng</p>
                        </a>
                      </li>
                      <li>
                        <a href="<%=_baseUrl%>blogs">
                          <p>Bài viết</p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div> -->
                <div class="header__favorites">
                  <% if(user_id){ %>
                    <a href="<%=_baseUrl%>branchs/follows" class="header__extra">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <!-- <span>
                            <i>0</i>
                        </span> -->
                    </a>
                    <%} else {%>
                      <a href="<%=_baseUrl%>login" class="header__extra">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <!-- <span>
                            <i>0</i>
                        </span> -->
                    </a>
                    <% } %>
                </div>
                <div id="user_id" hidden><%= user_id %></div>
                <div class="header__extra dropdown">
                    <a href="" class="header__extra droptn">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span>
                        <i id="notification_count">0</i>
                        </span>
                    </a>
                    <div class="dropdown-content" id="notification_list">
                    </div>
                </div>
                <div class="ps-block--user-header">
                    <div class="ps-block__left">
                        <% if(!user_id){ %>
                            <i class="fas fa-user"></i>
                        <% }; %>
                        <% if(user_id){ %> 
                            <a class="header__extra" onclick="show_hide()">
                            <i class="fas fa-user"></i>
                          </a>
                          <div class="header__menu" id="header_menu">
                            <div class="menu-arrow">
                              <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                            <ul class="header__menu-dropdown">
                              <li>
                                <a href="<%=_baseUrl%>profile">
                                  <p>Thông tin cá nhân</p>
                                </a>
                              </li>
                              <li>
                                <a href="<%=_baseUrl%>profile/orders">
                                  <p>Lịch sử đặt bàn</p>
                                </a>
                              </li>
                              <li>
                                <a href="<%=_baseUrl%>logout">
                                  <p>Đăng xuất</p>
                                </a>
                              </li>
                            </ul> 
                          </div>
                    </div>
                    <%}%>
                    <div class="ps-block__right">
                      <% if(!user_id){ %>
                            <a href="<%=_baseUrl%>login">Đăng nhập</a>
                        <% }; %>
                        <% if(!user_id){ %>
                            <a href="<%=_baseUrl%>register">Đăng ký</a>
                        <% }; %>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <nav class="navigation">
      <div class="container">
        <ul class="menu">
          <li>
            <a href="<%=_baseUrl%>collections">
              <p>Bộ sưu tập</p>
            </a>
          </li>
          <li>
            <a href="<%=_baseUrl%>branchs">
              <p>Danh mục nhà hàng</p>
            </a>
          </li>
          <li>
            <a href="<%=_baseUrl%>blogs">
              <p>Bài viết</p>
            </a>
          </li>
          <li>
            <a href="<%=_baseUrl%>branchs/hot">
              <p>Nhà hàng nổi tiếng</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
</header>

<header class="header header-mobi" data-sticky="true" id="headerStickyMobi">
    <div class="header_on_top">
      <div class="container">
        <div class="header_on_left">
          <p>Chào mừng bạn đến với EzBooking!</p>
        </div>
      </div>
    </div>
    <div class="header__top">
      <div class="container">
            <div class="header__left">
            <a href="/ezbooking">
              <img src="<%=_staticUrl%>public\frontend\assets\img\logo.png" alt="EzBooking" />
            </a>
          </div>
          <div class="header__right">
            <div class="header__actions">
              <div class="ps-block--user-header">
                  <div class="ps-block__left">
                      <% if(!user_id){ %>
                          <i class="fas fa-user"></i>
                      <% }; %>
                      <% if(user_id){ %>
                          <a href="<%=_baseUrl%>profile"><i class="fas fa-user"></i></a>
                      <% }; %>
                  </div>
                  <% if(!user_id){ %>
                  <div class="ps-block__right">
                    <a href="<%=_baseUrl%>login">Đăng nhập</a>
                    <a href="<%=_baseUrl%>register">Đăng ký</a>
                  </div>
                  <% }; %>
              </div>
            </div>
          </div>
      </div>
    </div>
</header>

<header class="header header-ip" data-sticky="true" id="headerStickyIp">
    <div class="header_on_top">
      <div class="container">
        <div class="header_on_left">
          <p>Chào mừng bạn đến với EzBooking!</p>
        </div>
      </div>
    </div>
    <div class="header__top">
      <div class="container">
        <div class="header__left col-2">
          <a href="/ezbooking">
            <img src="<%=_staticUrl%>public\frontend\assets\img\logo.png" alt="EzBooking" />
          </a>
        </div>
        <div class="header__right col-4">
          <div class="header__actions">
            <div class="ps-block--user-header">
                <div class="ps-block__left">
                    <% if(!user_id){ %>
                        <i class="fas fa-user"></i>
                    <% }; %>
                    <% if(user_id){ %>
                        <a href="<%=_baseUrl%>profile"><i class="fas fa-user"></i></a>
                    <% }; %>
                </div>
                <% if(!user_id){ %>
                <div class="ps-block__right">
                  <a href="<%=_baseUrl%>login">Đăng nhập</a>
                  <a href="<%=_baseUrl%>register">Đăng ký</a>
                </div>
                <% }; %>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="navigation--list">
  <div class="navigation__content">
    <div class="navigation__item" id="categories"><i class="fa fa-list" aria-hidden="true"></i> Danh Mục</div>
    <div class="navigation__item" id="menu_user"><i class="fa fa-bars" aria-hidden="true"></i> Người dùng</div>
    <div class="navigation__item" id="search_form"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</div>
  </div>
</div>
<div class="navigation--show cate display">
  <div class="navigation--wrap">
    <div class="navigation--slide">
      <div class="navi-title">
        <h3>Danh Mục</h3>
        <div class="icon-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="navi-content">
        <ul class="menu-content">
          <li><a href="<%=_baseUrl%>collections">Bộ sưu tập</a></li>
          <li><a href="<%=_baseUrl%>branchs">Danh mục nhà hàng</a></li>
          <li><a href="<%=_baseUrl%>blogs">Bài viết</a></li>
          <li><a href="<%=_baseUrl%>branchs/hot">Nhà hàng nổi tiếng</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navigation--show search_navigation display">
  <div class="navigation--wrap">
    <div class="navigation--slide">
      <div class="navi-title">
        <h3>Tìm kiếm</h3>
        <div class="icon-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="navi-content">
        <div class="wrapper">
          <div class="search-input">
            <input type="text" id="search_navi" placeholder="Tìm kiếm" class="form-control" style="height: 40px;">
            <div id="autocom-box_navi"></div>
            <div class="icon-search"><i class="fas fa-search"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navigation--show menu_user display">
  <div class="navigation--wrap">
    <div class="navigation--slide">
      <div class="navi-title">
        <h3>Người dùng</h3>
        <div class="icon-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="navi-content">
        <ul class="menu-content">
          <li><a href="<%=_baseUrl%>profile">Thông tin người dùng</a></li>
          <li><a href="<%=_baseUrl%>profile/orders">Lịch sử đặt bàn</a></li>
          <li><a href="<%=_baseUrl%>logout">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<a href="#" class="back__top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>

<style>
.search-input{
  position: relative;
}
#autocom-box{
  position: absolute;
  width: 100%;
  z-index: 99;
}
#autocom-box2{
  position: absolute;
  width: 100%;
  z-index: 99;
}
.autocom-box{
  background-color: #fff;
  padding:10px;
  border-radius: 5px;
}
.icon-search{
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  top:0;
  right:0;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.autocom-item{
  height: 50px;
}
.autocom-item .wrap{
  display: flex;
  justify-content: start;
}
.autocom-item .wrap .item-info{
  margin-left:20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}
.item-info .info-name{
  color: #000;
}
.item-info .info-address{
  color: #999;
}
.autocom-item .wrap .item-image img{
  width: 50px;
}
</style>


<script>
  var navbarFix = $("#headerSticky");
  var headerOffset = navbarFix.offset().top + 100;
  $(window).on('scroll',function () {
      if ($(window).scrollTop() > headerOffset) {
          navbarFix.addClass('header--sticky');
      } else {
          navbarFix.removeClass("header--sticky");
      }
  });
</script>

<script>
const search = document.getElementById("search");
const autoCom = document.getElementById("autocom-box");

const searchState = async searchText =>{
  const res = await fetch('http://localhost:3000/ezbooking/branchs/search');
  const state = await res.json();
  const dataState = state.dataRes;

  let matches = dataState.filter(state => {
    const regex = new RegExp(`^${searchText}`, 'gi');
    return state.address.match(regex) || state.name.match(regex);
  });
  if(searchText.length === 0){
    matches = [];
    autoCom.innerHTML = '';
  }
  outputHtml(matches);
}

const outputHtml = matches => {
  if (matches.length > 0){
    const html = matches.map(match => `
      <div class="autocom-box">
        <div class="autocom-item">
          <a href="<%=_baseUrl%>branchs/${match._id}">
            <div class="wrap">
                <div class="item-image">
                  <img class="lazy" src="<%=_staticUrl%>${match.thumbnail}" alt="" />
                </div>
                <div class="item-info">
                  <div class="info-name">${match.name}</div>
                  <div class="info-address">${match.address}</div>
                </div>
            </div>
          </a>
        </div>
      </div>
    `).join('');
    autoCom.innerHTML = html;
  }
};

search.addEventListener('input',() => searchState(search.value));
</script>

<script>
const search2 = document.getElementById("search2");
const autoCom2 = document.getElementById("autocom-box2");

const searchState2 = async searchText =>{
  const res2 = await fetch('http://localhost:3000/ezbooking/branchs/search');
  const state2 = await res2.json();
  const dataState2 = state2.dataRes;

  let matches = dataState2.filter(state2 => {
    const regex2 = new RegExp(`^${searchText}`, 'gi');
    return state2.address.match(regex2) || state2.name.match(regex2);
  });
  if(searchText.length === 0){
    matches = [];
    autoCom2.innerHTML = '';
  }
  outputHtml2(matches);
}

const outputHtml2 = matches => {
  if (matches.length > 0){
    const html = matches.map(match => `
      <div class="autocom-box">
        <div class="autocom-item">
          <a href="<%=_baseUrl%>branchs/${match._id}">
            <div class="wrap">
                <div class="item-image">
                  <img class="lazy" src="<%=_staticUrl%>${match.thumbnail}" alt="" />
                </div>
                <div class="item-info">
                  <div class="info-name">${match.name}</div>
                  <div class="info-address">${match.address}</div>
                </div>
            </div>
          </a>
        </div>
      </div>
    `).join('');
    autoCom2.innerHTML = html;
  }
};

search2.addEventListener('input',() => searchState2(search2.value));
</script>

<script>
  $('#categories').click(function(){
      $('.cate').removeClass('display');
      $('.navigation--list').addClass('display');
  });
  $('.icon-close').click(function(){
      $('.cate').addClass('display');
      $('.navigation--list').removeClass('display');
  });
</script>

<script>
  $('#search_form').click(function(){
      $('.search_navigation').removeClass('display');
      $('.navigation--list').addClass('display');
  });
  $('.icon-close').click(function(){
      $('.search_navigation').addClass('display');
      $('.navigation--list').removeClass('display');
  });
</script>

<script>
  $('#menu_user').click(function(){
      $('.menu_user').removeClass('display');
      $('.navigation--list').addClass('display');
  });
  $('.icon-close').click(function(){
      $('.menu_user').addClass('display');
      $('.navigation--list').removeClass('display');
  });
</script>

<script>
const search_navi = document.getElementById("search_navi");
const autoCom_navi = document.getElementById("autocom-box_navi");

const searchState_navi = async searchText =>{
  const res_navi = await fetch('http://localhost:3000/ezbooking/branchs/search');
  const state_navi = await res_navi.json();
  const dataState_navi = state_navi.dataRes;

  let matches = dataState_navi.filter(state_navi => {
    const regex_navi = new RegExp(`^${searchText}`, 'gi');
    return state_navi.address.match(regex_navi) || state_navi.name.match(regex_navi);
  });
  if(searchText.length === 0){
    matches = [];
    autoCom_navi.innerHTML = '';
  }
  outputHtml_navi(matches);
}

const outputHtml_navi = matches => {
  if (matches.length > 0){
    const html = matches.map(match => `
      <div class="autocom-box">
        <div class="autocom-item">
          <a href="<%=_baseUrl%>branchs/${match._id}">
            <div class="wrap">
                <div class="item-image">
                  <img class="lazy" src="<%=_staticUrl%>${match.thumbnail}" alt="" />
                </div>
                <div class="item-info">
                  <div class="info-name">${match.name}</div>
                  <div class="info-address">${match.address}</div>
                </div>
            </div>
          </a>
        </div>
      </div>
    `).join('');
    autoCom_navi.innerHTML = html;
  }
};

search_navi.addEventListener('input',() => searchState_navi(search_navi.value));
</script>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    console.log('message' + document.getElementById("user_id").innerHTML)
    const notificationList = document.getElementById('notification_list')
    const orderStatusDict = {
        '0': 'Chờ',
        '1': 'Thành công',
        '2': 'Bị từ chối',
        '3': 'Hủy bỏ',
        '4': 'Hoàn tất'
    }
    const notificationStatusValueDict = {
        '0': 'pending',
        '1': 'approved',
        '2': 'rejected',
        '3': 'cancel',
        '4': 'success'
    }
    socket.on('message' + document.getElementById("user_id").innerHTML, (message) => {
            console.log('mesage receive in user')
            const notification_count = parseInt(document.getElementById("notification_count").innerHTML)
            document.getElementById("notification_count").innerHTML = (notification_count + 1).toString()
            const child = document.createElement("div")
            child.id = "notification_" + notificationList.childElementCount
            child.classList.add("dropdown-element")
            child.innerHTML =`<div class="dropdown-element-text">Đơn hàng <strong class="dropdown-element-text">${message.order_id}</strong> </div>` +
                `<div class="notification-status"><div class="dropdown-element-text">Đã đổi trạng thái thành </div> <div class="notification-status-value notification-status-value-${notificationStatusValueDict[message.status]}">${orderStatusDict[message.status]}</div></div>`
            child.addEventListener('click', (_) => window.location.href = base_url + 'profile/orders?_id=' + message.order_id)
            if (notificationList.childElementCount) notificationList.insertBefore(child, notificationList.firstChild)
            else notificationList.appendChild(child)
        }
    )
</script>

<script>
  var a;
  function show_hide(){
    // if (name === 'favorite') {
    //   document.getElementById("header_menu_user").style.display="none";
    // } else {
    //   document.getElementById("header_menu_favorite").style.display="none";
    // }

    let display = document.getElementById("header_menu").style.display
    if (display ==="block") {
      document.getElementById("header_menu").style.display = 'none'
    } else {
      document.getElementById("header_menu").style.display = 'block'
    }
    if(a == 1){
      return a = 0;
    }
    else {
      // document.getElementById("header_menu_" + name).style.display="block";
      return a = 1;
    }
  }
</script>

<script>
  const BackToTop = document.querySelector(".back__top");
  window.addEventListener("scroll", scrollFunction);
  function scrollFunction(){
    if(window.pageYOffset > 300){
      BackToTop.style.display = "block";
    } else{
      BackToTop.style.display = "none";
    }
  }
</script>