<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title%></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/bootstrap/font-awesome-4.6.3.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="<%=publicUrl%>admin/css/AdminLTE.css">

</head>
<body class="hold-transition">
    <%- body%>
    <!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="<%=publicUrl%>admin/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="<%=publicUrl%>admin/js/bootstrap.min.js"></script>
</body>
</html>
